.wall  {  
    width: 350px;  
    height: 220px;  
    background-color: green;  
    padding: 15px 10px 20px 10px; /* зверху, зліва, знизу, справа */  
    margin-bottom: 30px; /* зовнішній відступ знизу */  
    border: 2px dotted red; /* пунктирна червона границя */  
} 
.img-pic {
    width: 350px;
    height: 220px;
} 